.container-berlin-png {
    background-color: #000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
    view-timeline: --scroll;
}


.Berlin-background-png {
    max-width: 100%;
    width: 500px;
}

.container-home-pages {
    position: relative;
    height: auto;
}

.container-description-home-page {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

.description-home-page {
    width: 80vw;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin-top: 100px;
}

.section-description {
    display: flex;
    justify-content: center;
    max-width: 500px;
    /* Agregado un ancho máximo para evitar que el texto sea demasiado ancho en pantallas grandes */
}

.little-description-berlin {
    color: #000;
    font-size: 23px;
}

.image-lcdp {
    width: 600px;
    /* Tamaño inicial de 600px */
    max-width: 100%;
    height: auto;
    /* Añadido para mantener la proporción de aspecto */
    border-radius: 20px;
}

@media (max-width: 1200px) {
    .description-home-page {
        flex-direction: column;
        /* Cambiado a disposición de columna para pantallas más pequeñas */
        text-align: center;
        /* Centrado el texto en pantallas más pequeñas */
        gap: 1rem;
        /* Ajustado el espacio entre elementos para pantallas más pequeñas */
    }
}

.container-trailer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 200px;
}

.redirect-trailer {
    text-align: center;
    all: unset;
    cursor: pointer;
    transition: .5s all ease-in-out;
    padding: 10px;
    border: none;
    font-family: 'Onest Variable', sans-serif;
}

.redirect-trailer:hover {
    font-weight: bold;
    border-bottom: 1px solid rgb(0, 0, 0);
}

.container-imagenes {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-reparto-characters h1 {
    color: #000;
    font-size: 50px;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.container-characters {
    width: 60vw;
    margin: 0 auto;
}

.characters-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 16px;
    margin-top: 50px;
}

.card-character {
    cursor: pointer;
    display: inline-block;
    position: relative;
}


.picture-character {
    border-radius: 5px;
    width: 100%;
    height: 350px;
    /* O establece un valor específico en píxeles */
    object-fit: cover;
    /* Ajusta el comportamiento de redimensionamiento */
    object-fit: cover;
    transition: .8s ease;
    /* Mantiene la relación de aspecto y cubre completamente el contenedor */
}

.picture-character:hover {
    scale: 1.02;
    filter: contrast(120%);
}

.character-styled {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #000;
}

.character-styled:hover {
    color: red;
}

#bentoGrid {
    transition: all .5s ease-in-out;
    /* Agregar una transición suave a la propiedad de opacidad */
}

.container-bento-grid {
    /* Aquí para centrar --> */
    margin: 0 auto;
    width: 70vw;
    background-color: #fff;
}

.bento-grid {
    display: grid;
    gap: 10px;
    grid-auto-rows: 150px;
    grid-template-columns: repeat(3, 1fr);
}

.bento-grid div {
    border: 2px solid black;
    border-radius: 4px;
    color: #000;
}

.bento-grid div:first-child {
    grid-row: 1 / 3;
    grid-column: 1 /3;
}

.bento-grid div:nth-child(2) {
    grid-row: 1 / 3;
}

.bento-grid div:nth-child(3) {
    grid-row: 3/6;
}

.bento-grid div:nth-child(4) {
    grid-row: 3 / 5;
    grid-column: 2 / 4;
}

.bento-grid div:last-child {
    grid-column: 2 / 4;
}

.bento-grid div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}