html {
  scroll-behavior: smooth;
}

body {
  scroll-behavior: smooth;
  font-family: 'Onest Variable', sans-serif;
  background-color: #fff;
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow-x: hidden;  /* Evita el desplazamiento horizontal */ 
}

* {
  box-sizing: border-box;
}


.container-header{
  position: relative;
}
header {
  position: fixed;
  z-index: 2;
  max-width: 100%;
  width: 100%;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.75);
}

nav ul {
  list-style-type: none;
}

nav a {
  text-decoration: none;
  color: black;
}

.container-logo{
  max-width: 100%;
  position: absolute;
  left: 0;
  margin-left: 50px;
}


.container-routes-list{
  max-width: 100%;
}

.logo {
  color: white;
}

.letter{
  color: #e50914;
}

.routes-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.button-nav{
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  padding: 10px;
  border-radius: 8px;
}

.button-nav:hover{
  background-color: rgb(24, 24, 31);
  transition: all .3s ease-in-out;
}

.button-nav:active {
  position: relative;
  top: 2px; /* Ajusta la posición según tu preferencia */
  border-bottom: 2px solid #2980b9;
}

.menu-nav:hover{
  background-color: #18181f;
}


/*Some Styles of Fotter Component -->*/

footer{
  background-color: #282624;
  width: 100%;
  height: auto;
  color: white;
}

.container-footer-phrase{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.credits-footer-page{
  max-width: 100%;
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: bold;
}

.phrase-footer{
  width: 410px;
  max-width: 100%;
}

.menu{
  color: #fff;
  display: none;
}

@media (max-width: 720px) {

  .credits-footer-page{
    margin-top: 50px;
  }
  .container-footer-phrase{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
  }
  .elements-atributes-footer{
    display: flex;
    flex-direction: column;
  }
}



.footer-list-container{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 25px;
}

.elements-unique-fotter{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.contentbox-element{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  max-width: 100%;
}

.elements-atributes-footer{
  display: flex;
  gap: 30px;
  max-width: 100%;
}




